[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
asyncpg = "*"

[dev-packages]
pdbpp = "*"
ipython = "*"
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
